@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{

    margin: 0;
    padding: 0;
}
:root{

    --fundo-verde: #d7e692;
    --fonte: 'Roboto'

}

.titulo{

    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2em;
    color: purple;
}

body{

    background-color: var(--fundo-verde);
}

.lista{

    display: grid;
    margin: 1em 0;
    padding: 2em;
    list-style: none;
}

.lista__item{

    border: solid 1px #000000;
    padding: 2em;
    text-align: center;
    font-size: 1em;
}

.lista__link{

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}